@media only screen and (max-width: 1199px) {
  #ip-middle {
    width: 86%;
    height: 2.88rem;
  }
  .header__top p {
    text-align: left;
  }

  #b1,
  #b2 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  #bg1,
  #bg2,
  #bg3,
  #bg4,
  #bg5,
  #bg6 {
    width: 18rem;
  }
  #bg1-1 {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 44%;
  }
  #bg1-2 {
    position: absolute;
    top: 30%;
    width: 45%;
  }

  #col1-other, #col2-other{
      width: 100%;
  }
}

@media only screen and (max-width: 991px) {
    .other .col-7 {
        margin-left: 42%;
       
    }
    .other .col-md-7 button{
        margin-left: -7%;
    }
    #list-menu {
        display: flex;
    }
}

@media only screen and (max-width: 400px) {
}

/* product */
/* @media only screen and (max-width: 991px) {
    #btn-price {
        position: absolute;
        right: 17%;
        width: 15rem;
        height: 4rem;
        bottom: 28%;
        font-size: 2rem;
        background-color: #8CCE6F;
    }
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 575px) {
    #books a.card-text {
        font-size: 3rem;
    }
} */
