@media only screen and (max-width: 1199px) {
  #ip-middle {
    width: 86%;
    height: 2.88rem;
  }
  .header__top p {
    text-align: left;
  }

  #b1,
  #b2 {
    width: 104%;
  }

  
}



@media only screen and (max-width: 991px) {
#nav1{
    display: none;
}

#open {
    display: block;
}
    
    .other .col-7 {
        margin-left: 42%;
       
    }
    .other .col-md-7 button{
        margin-left: -7%;
    }
    #list-menu {
        display: flex;
    }

    #logo {
        float: left;
        width: 20%;
    }

    #search {
        float: left;
        width: 80%;
        margin: 0px !important;

    }

    #menu-middle{
       
    }

    #gr-search {
        float: left;
        width: 80%;
        justify-content: start !important;
        justify-content: unset;
    }

    #menu-middle a{
      padding-right: 0;
    }

    #btn-middle {
      position: absolute;
      right: 49%;
      height: 2.8rem;
  }

  .header__bottom {
    display: none;
  }
  
  #product .col-lg-3 {
    float: left;
    width: 50%;
  }

  #cate-list, #brand-list {
    display: none;
  }

  #to-cate::after, #to-brand::after{
    content: "  ▼";
  }

  footer .col-lg-3 {
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  #bg1,
  #bg2,
  #bg3,
  #bg4,
  #bg5,
  #bg6 {
    width: 18rem;
  }
  #bg1-1 {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 44%;
  }
  #bg1-2 {
    position: absolute;
    top: 30%;
    width: 45%;
  }

  #col1-other, #col2-other{
      width: 100%;
  }

  #menu-middle {
      display: block !important;
  }

  #btn-middle {
    position: absolute;
    right: 65%;
   
}
}

@media only screen and (max-width: 400px) {
}

/* product */
/* @media only screen and (max-width: 991px) {
    #btn-price {
        position: absolute;
        right: 17%;
        width: 15rem;
        height: 4rem;
        bottom: 28%;
        font-size: 2rem;
        background-color: #8CCE6F;
    }
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 400px) {

}
@media only screen and (max-width: 575px) {
    #books a.card-text {
        font-size: 3rem;
    }
} */
